#secPublicationDetails {
    width: 95%;
    margin: 34px auto;
    box-shadow: 0.5px 0.5px 4px 0px;
    padding: 2%;
}

#secPublicationDetails hr{
    border: 1px solid #4c63d3;
    margin: 0px;
}

#secPublicationBody {
    margin-top: 10px;
}

#dvAcommodations {
    background-color: #e7e3e3;
    border-radius: 10px;
    padding: 5px;
    width: 40%;
    margin: 0px auto;
}

#dvPublicationImages {
    margin: 0px auto;
}

#imageCarousel img {
    /*max-height: 10%;
    max-width: 100%;
    height: 10%;*/
    width: auto;
    height: auto;
}