
@{
    ViewBag.Title = "Publicar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/bundles/Post.css")
<section id="scPost">
    <div id="dvPost">
        @using (Html.BeginForm("Create", "POST", FormMethod.Post, new { @enctype = "multipart/form-data" })){
            Html.RenderPartial("_RegisterForm");
        }
    </div>
</section>
@Scripts.Render("~/bundles/Post.js")


