
@{
    ViewBag.Title = "SavedPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/bundles/SavedPost.css")
<section class="row">
       <div id="dvImg">
           <img src="~/Assets/Images/"/>
       </div>
       <div class="col-sm-12" id="dvViewPosts">
           <input type="button" value="Visualizar mis publicaciones" class="btn btn-primary"/> 
       </div>
       <div class="col-sm-12" id="dvMakePost">
           <a href="#">Realizar otra publicación</a>        
       </div>

</section>

